<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bauble.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bauble.Common.Properties.Settings>
            <setting name="Screen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IconFlow" serializeAs="String">
                <value>Bauble.IconFlows.PopIconFlow</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideTimerMilliseconds" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ShowTimerMilliseconds" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="ShowAnimationDuration" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="HideAnimationDuration" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="AutoHideDock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeFile" serializeAs="String">
                <value>themes\crystal\theme.xml</value>
            </setting>
        </Bauble.Common.Properties.Settings>
    </userSettings>
</configuration>